.strap{
  min-height: 136px;
  height: 136px;
  width: 100%;
  display: table;
  position: relative;
  margin-bottom: 30px;

  &:empty{ height: 0; margin-bottom: 136px + 30px; }
  &.empty{ height: 100px; min-height: 100px; }

  h3, h4{
    display: table-cell;
    vertical-align: middle;
    font-family: $font-family-thin;
    padding: 0 $strap-gutter;
  }

  h3{
    text-align: center;
    font-size: 42px;
    line-height: 1.1;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
  }

  h4{ font-size: 32px; color: #6D6D6D; }

  img{ position: absolute; top: 0; left: 0; z-index: -1; }
}