p
  | На крупнейшем производственном предприятии, заводе лакокрасочной продукции «ТЕКС» (Санкт-Петербург, Уткин пр., 15 Н), в 2009-2010 гг. происходил процесс ввода в эксплуатацию нового производственного здания площадью 6800 кв. м. Необходимо было реализовать сложнейшую систему управления, контроля и диспетчеризации промышленного оборудования силами компании «Циклон». Вновь инсталлированная система оказалась настолько эффективной, что заказчик решил внедрить ее на всем производстве с возможностью дальнейшего расширения системы. После выполнения поставленной задачи специалистами нашей компании была проделана работа по реконструкции административно-бытового корпуса предприятия и модернизации практически всех инженерных систем завода.