
h2 Строительство и реконструкция сооружений и особых сетей снабжения для нужд ЦКБ МТ «Рубин»
p
  | ЦКБ МТ “Рубин” - один из мировых лидеров в проектировании подводных лодок и ведущее в России конструкторское бюро подводного кораблестроения. За более чем 110-летний период деятельности нами накоплен огромный опыт создания подводных лодок различных классов. Этот опыт успешно используется при создании не только военной, но и гражданской техники. ЦКБ МТ «Рубин» стало признанным партнером нефтегазовых компаний в части разработки техники для освоения месторождений нефти и газа на континентальном шельфе. Наша компания осуществляет строительство зданий и сооружений на объекте, а также проектирование и монтаж сложнейших инженерных сетей комплекса завода в рамках реконструкции объекта
  = facility_image('rubin.png')