@import "banners/*.png";

.banner{
  width: 1096px;
  height: 130px;
  display: block;
  background-repeat: no-repeat;
}

$pages: ('company', 'contacts');

@each $page in $pages {
  .banner--#{$page}{
    @include banners-sprite(#{$page});
  }
}