.banner{
  width: 1096px;
  height: 130px;
  display: block;
  background-image: url(/assets/images/banners.png);
  background-repeat: no-repeat;

//  default background image?
  &.banner--company{
    background-position: 0 -130px;
  }
}