header, .header{
//  margin: 0 $strap-gutter 30px;



  .logo{
    &, a{
      &, &:hover, &:active, &:visited{ text-decoration: none; border-bottom: none; }
    }
  }

  .contacts{
    .phone{
      letter-spacing: -1.5;
      text-align: right;

      .small, .big{ @include inline-block-list-item(0); }
      .small{
        @extend .text-green;
        font-family: $font-family-regular;
        font-size: 16px;
      }

      .big{
        padding-left: .3em;
        color: $color-gray-d;
        font-family: $font-family-medium;
        font-size: 24px;
      }

      .link{ display: block; border: none; }

      a{
        @include link($color-green);
        @extend .text-important;
        font-family: $font-family-bold;
        font-size: 12px;
        letter-spacing: 0;
      }
    }
  }
}