.license{
  $preview-width: 100px;

  @include clearfix();
  padding-right: 20px;
  margin-bottom: 10px;

  .license-preview{
    @include unstyled-link;
    width: $preview-width;
    display: block;
    float: left;
    border-bottom: none;
    img{
      max-width: $preview-width;
      height: auto;
      border: 2px solid #f0f0f0;
      padding-bottom: 0;
    }
  }

  h4, h5, p{ padding-left: $preview-width + 10px; }
}