.menu{
  @include inline-block-list;
  font-family: $font-family-bold;
  font-size: $font-size-header-menu;
  margin-top: $offset-header-menu-top;
  text-align: right;
  padding-right: 3em;
  text-transform: uppercase;

  li {
    @include inline-block-list-item(10px);
    ul {
      text-align: left;
      position: absolute;
      border: 3px solid #f2594b;
      z-index: 100;
      background: #fff;
      border-radius: 0 5px 5px 5px ;
      margin-top: 1px;
      padding: 0;
      transition: 2s;
      margin-top: 7px;
      li {
        display: list-item;
        margin: 8px 0 12px;
        a {
          border: none;
        }
      }
    }
    &.nested_link {
      &:hover {
        ul {
          //visibility: visible;
        }
      }
   }
  }
  li a {
    color: #c0392b;
    line-height: 1.1;
    border-color: transparent;
    border-style: solid;
    padding: 8px 18px;
    border-radius: 5px;
    border-width: 3px;
    transition: background 1s 0s, box-shadow 2s 2s, opacity 2s 3s, border-radius 2s 4s;
    position: relative;
    z-index: 101;
    &:hover {

      //border-radius: 5px 5px 0 0;
      //border-bottom-color: #ffffff;
      transition:all 0.9s 0s;

      span {
        border: none;
      }
    }
    &.current {

    }
    &.nested_link {
      background: url(../images/menu-arr-red.png) transparent 96% 45% no-repeat;
      padding-right: 25px;
      //transition: 0;
      &:hover {
        border-color: #f2594b;
        border-radius: 5px;
        border-width: 3px;
        color: #c0392b;

        //transition: 0;
      }
    }
    span {
    border-bottom: 1px solid $color-red;

  }


  }



  .selected{ color: $color-gray-d; border-color: transparent; }

  // Скрываем последний пункт меню.
  // Известно, что это «контакты» и по дизайну этот пункт должен быть скрыт
  #contacts{ display: none; }
}