.menu{
  @include inline-block-list;
  font-family: $font-family-bold;
  font-size: $font-size-header-menu;
  margin-top: $offset-header-menu-top;
  text-align: left;
  padding-right: 3em;
  text-transform: uppercase;

  li {
    @include inline-block-list-item(5px);
    ul {
      text-align: left;
      position: absolute;
      border: 3px solid #f2594b;
      z-index: 100;
      background: #fff;
      border-radius: 0 5px 5px 5px ;
      padding: 0;
      transition: 2s;
      margin-top: 7px;
      padding-top: 10px;
      li {
        display: list-item;
        margin: 8px 0 12px;
        padding-left: 0;
        a {
          border: none;
          &.selected {
            border: none;
            span {
              color: #f2594b;
              border-bottom: none ;
            }
          }
        }
      }
    }
  }
  li a {
    color: #c0392b;
    line-height: 1.1;
    border-color: transparent;
    border-style: solid;
    padding: 8px 18px;
    border-radius: 5px;
    border-width: 3px;
    position: relative;
    z-index: 101;
    opacity: 0.7;
    &.selected {
      border: 3px solid #f2594b;
      color: #f2594b;
      span {
        border: none;
      }
    }
    &.nested_link {
      padding-right: 30px;
      background: image-url('menu-arr-red.png') transparent 89% 45% no-repeat;
      @include transition(all, 0.07s, ease-in-out);
      cursor: pointer;
      span {
        &.corners {
          position: absolute;
          height: 3px;
          left: -3px;
          bottom: -3px;
          border-left: 3px solid #f2594b;
          border-right: 3px solid #f2594b;
          border-bottom: none;
          background: #fff;
        }
      }
      &.open {
        opacity: 1;
      }
      &:hover {
        border-color: #f2594b;
        border-radius: 5px;
        border-width: 3px;
        color: #c0392b;
        @include transition(all, 0.05s, ease-in-out);
      }
    }
    span {
    border-bottom: 1px solid $color-red;

  }


  }



  .selected{ color: $color-gray-d; border-color: transparent; }

  // Скрываем последний пункт меню.
  // Известно, что это «контакты» и по дизайну этот пункт должен быть скрыт
  #contacts{ display: none; }

}