= partial "shared/breadcrumbs"
h2 ООО «Санкт-Петербургские Шампанские Вина»
p
  | Работы по проектированию, инжинирингу, поставке оборудования, строительству и передаче Заказчику готового к эксплуатации Комплекса по производству виноградных вин, расположенного по адресу: Ленинградская обл., Сланцевский р-н, г.Сланцы, ул.Баранова д.1