= partial "shared/breadcrumbs"
h2 Хоспиталтехник
p
  | выполнить работы (далее – работы) по  инженерному обеспечению территории севернее лесопарка "Новоорловский". Объекты водоснабжения. I этап. Реконструкция водовода d=1000мм по продолжению Шуваловского пр. от ул. Парашютной до продолжения Новоколомяжского пр. V этап. Строительство водовода Д=1000 мм и магистральных сетей 2d=500 мм по Яхтенной ул. от ул. Мебельной до ул. Школьной. VI этап. Строительство водовода по Долгоозерной ул. от Планерной ул. до ул. Камышовой и участка канализации от Планерной ул. до шахты № 325. Строительство водовода по Комендантскому пр. от ул. Шаврова до Шуваловского пр.