= partial "shared/breadcrumbs"
h2 Общество с ограниченной ответственностью Навигатор-СБС
p
  | «Выполнение комплекса работ по проектированию и строительству объекта: «Водопроводные и канализационные сети к жилому дому со встроенными помещениями и подземной автостоянкой по адресу: Санкт-Петербург, ул.Бадаева, участок 7 (северо-западнее пересечения с Дальневосточным проспектом), к жилому дому со встроенными помещениями по адресу: Санкт-Петербург, ул.Бадаева, участок 8 (северо-западнее пересечения с улицей Белышева), к многоквартирному дому со встроенными помещениями и двумя подземными паркингами по адресу: Санкт-Петербург, ул.Белышева, участок 14 (западнее дома 4, корпус 2, литера А)»; «Водопроводная сеть высокого давления d=300 мм по улице Коллонтай и по Союзному проспекту (или внутриквартальному проезду)» для нужд филиала ГУП «Водоканал Санкт-Петербурга» «Центр реализации инвестиционных программ»