= partial "shared/breadcrumbs"
h2 ООО «РосМодульСтрой»
p
  | проектирование и строительство завода по производству строительных модулей, в том числе:
    Административно-бытовой корпус,
    АБК-2,
    Газовая блок-модульная котельная,
    Склад ГСМ,
    Столярный цех,
    Сушильный цех 1,
    Сушильный цех 2,
    Материальный склад,
    Причальная стенка,
    Гараж пятисекционный,
    Заготовительный цех,
    Здание ширпотреба,
    Лесоцех,
    Здание мастерских,
    Погрузочное устройство,
    Трансформаторная подстанция,
    Цех перегородок,
    Склад гипса,
    Эстакада,
    Оборудование проездов,
    Поверхностное водоотведение,
    Внутриобъектовые сети ГВС, ХВС, ТС, ГС