@font-face {
  font-family: 'PF Highway Sans Pro';
  src: url('highwaysanspro-bold.eot'); /* IE9 Compat Modes */
  src: url('highwaysanspro-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('highwaysanspro-bold.woff') format('woff'), /* Modern Browsers */
       url('highwaysanspro-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('highwaysanspro-bold.svg#2c41edb32fecaa28a543096885f58f94') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'PF Highway Sans Pro Medium';
  src: url('highwaysanspro-medium.eot'); /* IE9 Compat Modes */
  src: url('highwaysanspro-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('highwaysanspro-medium.woff') format('woff'), /* Modern Browsers */
       url('highwaysanspro-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('highwaysanspro-medium.svg#258ec4218490b51159ae14dd7b0f3367') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'PF Highway Sans Pro';
  src: url('highwaysanspro-regular.eot'); /* IE9 Compat Modes */
  src: url('highwaysanspro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('highwaysanspro-regular.woff') format('woff'), /* Modern Browsers */
       url('highwaysanspro-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('highwaysanspro-regular.svg#a334a373ca7c9e7fe5cdd11b1fa261bd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'PF Highway Sans Pro Thin';
  src: url('highwaysanspro-thin.eot'); /* IE9 Compat Modes */
  src: url('highwaysanspro-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('highwaysanspro-thin.woff') format('woff'), /* Modern Browsers */
       url('highwaysanspro-thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('highwaysanspro-thin.svg#5632f2dfe494fd8cc1f302d0ef9ba4d4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

