---
title: Инженерные системы
---

- content_for :sidebar_menu do
  = partial "facilities/sidebar"

= partial "shared/breadcrumbs"

h1 = facilities_find('engineering').full_title

p
  | Разработка, проектирование и создание инженерных систем любой сложности структурированные кабельные сети и телефония, система охранно-тревожной сигнализации, система охранно-пожарной сигнализации и оповещение людей о пожаре, система охранного видеонаблюдения, система контроля и управления доступом, электротехнических сетей, диспетчеризации, автоматизации вентиляции и инфраструктурных систем, автоматизированных систем управления технологиями производства, систем кондиционирования и вентиляции, ситема пожаротушения, система медицинского газоснабжения, локальная вычислительная система, система подготовки воды и воздуха, радиолокация, гидролокация


h2 Реализованные проекты
p тут вывести список проектов с ссылками и картинками
