---
title:  Программно-технические решения
---
- content_for :sidebar_menu do
  = partial "facilities/sidebar"

| Программно-технические решения!

= partial "shared/breadcrumbs"


h2 Реализованные проекты
div
  - facilities_by_category(:programmes).each do |facility|
    = partial 'facilities/facility', locals: { facility: facility }