@font-face {
  font-family: 'HighwaySansProBold';
  src:  font-url('highwaysanspro-bold/highwaysanspro-bold.eot'); /* IE9 Compat Modes */
  src:  font-url('highwaysanspro-bold/highwaysanspro-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        font-url('highwaysanspro-bold/highwaysanspro-bold.woff') format('woff'), /* Modern Browsers */
        font-url('highwaysanspro-bold/highwaysanspro-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        font-url('highwaysanspro-bold/highwaysanspro-bold.svg#2c41edb32fecaa28a543096885f58f94') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'HighwaySansProMedium';
  src:  font-url('highwaysanspro-medium/highwaysanspro-medium.eot'); /* IE9 Compat Modes */
  src:  font-url('highwaysanspro-medium/highwaysanspro-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        font-url('highwaysanspro-medium/highwaysanspro-medium.woff') format('woff'), /* Modern Browsers */
        font-url('highwaysanspro-medium/highwaysanspro-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        font-url('highwaysanspro-medium/highwaysanspro-medium.svg#258ec4218490b51159ae14dd7b0f3367') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HighwaySansProRegular';
  src:  font-url('highwaysanspro-regular/highwaysanspro-regular.eot'); /* IE9 Compat Modes */
  src:  font-url('highwaysanspro-regular/highwaysanspro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        font-url('highwaysanspro-regular/highwaysanspro-regular.woff') format('woff'), /* Modern Browsers */
        font-url('highwaysanspro-regular/highwaysanspro-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        font-url('highwaysanspro-regular/highwaysanspro-regular.svg#a334a373ca7c9e7fe5cdd11b1fa261bd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HighwaySansProThin';
  src:  font-url('highwaysanspro-thin/highwaysanspro-thin.eot'); /* IE9 Compat Modes */
  src:  font-url('highwaysanspro-thin/highwaysanspro-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        font-url('highwaysanspro-thin/highwaysanspro-thin.woff') format('woff'), /* Modern Browsers */
        font-url('highwaysanspro-thin/highwaysanspro-thin.ttf')  format('truetype'), /* Safari, Android, iOS */
        font-url('highwaysanspro-thin/highwaysanspro-thin.svg#5632f2dfe494fd8cc1f302d0ef9ba4d4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

