header, .header{
  margin-bottom: 30px;

  .menu{
    @include inline-block-list;
    li { @include inline-block-list-item(10px); }
    font-family: $font-family-bold;

    .selected{ color: $color-gray-d; border-color: transparent; }
  }

  .logo{
    &, a{
      &, &:hover, &:active, &:visited{ text-decoration: none; border-bottom: none; }
    }
  }

  .contacts{
    .phone{
      text-align: right;

      .small, .big{ @include inline-block-list-item(0); }
      .small{
        @extend .text-green;
        font-family: $font-family-regular;
        font-size: 16px;
      }

      .big{
        color: $color-gray-d;
        font-family: $font-family-medium;
        font-size: 24px;
      }

      .link{ display: block; border: none; }

      a{
        @include link($color-green);
        @extend .text-important;
        font-family: $font-family-bold;
        font-size: 12px;
      }
    }
  }
}