@mixin link($color: $color-blue, $hover-color: darken($color, 10%)){
  display: inline-block;
  border-bottom: 1px solid;

  line-height: 1.1;

  &, &:visited {
    border-color: $color;
    color: $color;
  }

  &, &:hover, &:visited, &:active{ text-decoration: none; }

  &:hover, &:active{
    border-color: $hover-color;
    color: $hover-color;
  }
}