#main{
  margin-left: -$gutter;
  position: relative;
  width: 1200px;

  img{ position: absolute; top: 0; left: 0; z-index: -1;}
}

$anim_sec: 0.1s;

.invisible{
  opacity: 0;

  -webkit-transition: opacity $anim_sec ease-in-out;
  -moz-transition: opacity $anim_sec ease-in-out;
  -o-transition: opacity $anim_sec ease-in-out;
  transition: opacity $anim_sec ease-in-out;

  z-index: -1;
}

.visible{
  opacity: 0.99;

  -webkit-transition: opacity $anim_sec ease-in-out;
  -moz-transition: opacity $anim_sec ease-in-out;
  -o-transition: opacity $anim_sec ease-in-out;
  transition: opacity $anim_sec ease-in-out;

  z-index: 2;
}