#main{
  margin-left: -$gutter;
}

.invisible{
  opacity: 0.01;

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

  z-index: -1;
}

.visible{
  opacity: 0.99;

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

  z-index: 2;
}