#main{
  margin-left: -$gutter;
}

$anim_sec: 0.1s;
.invisible{
  opacity: 0.01;

  -webkit-transition: opacity $anim_sec ease-in-out;
  -moz-transition: opacity $anim_sec ease-in-out;
  -o-transition: opacity $anim_sec ease-in-out;
  transition: opacity $anim_sec ease-in-out;

  z-index: -1;
}

.visible{
  opacity: 0.99;

  -webkit-transition: opacity $anim_sec ease-in-out;
  -moz-transition: opacity $anim_sec ease-in-out;
  -o-transition: opacity $anim_sec ease-in-out;
  transition: opacity $anim_sec ease-in-out;

  z-index: 2;
}