h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p,
a{
  white-space: normal;
}

h1, .h1{
  font-family: $font-family-thin;
  font-size: 34px;
  color: $color-gray;
}

h2, .h2{
  font-family: $font-family-thin;
  font-size: 35px;
  color: $color-red-l;
  line-height: 1.3;
  padding-bottom: 0.7em;
}

h3, .h3{}
h4, .h4{}
h5, .h5{}
h6, .h6{}


p{
  font-family: $font-family-regular;
  font-size: $font-size-base;
  color: $color-gray-l;
  line-height: 1.5;
  padding-bottom: 2em;
}