$color-green: #2fb546;
$color-sea-green: #1a7565;
$color-red: #e63d4d;
$color-red-l: #ec685c;
$color-gray-l: #666;
$color-gray: #4b5348;
$color-gray-d: #323e30;
$color-blue: #3498db;


$font-family-thin: 'HighwaySansProThin';
$font-family-regular: 'HighwaySansProRegular';
$font-family-medium: 'HighwaySansProMedium';
$font-family-bold: 'HighwaySansProBold';
$font-family-italic: 'HighwaySansProItalic';

$font-size-base: 16px;


// GRID
$container-width: 1200px;
$gutter: 50px;
$strap-gutter: 80px;
