<% content_for :sidebar_menu do %>
  <%= render_navigation %>
<% end %>

<h2>О компании</h2>
<p>Могу с уверенностью сказать, что компа- нией Циклон освоены и должным образом реали- зуются все виды работ, востребованных на рынке высокотехнологичного строительства.</p>
<p>Главное для нас – сохранить высокий уровень готовности к реализации самых сложных проектов. Наш конек – объекты строительства или реконструкции, содержащие множество инфор- мативных и сложных инженерных сетей.</p>
<p>В настоящее время организация выпол- няет множество задач, связанных с реализацией государственных программ, воплощение самых смелых идей, что требует от нас особой ответст- венности и уверенности в своих силах. Мы способ- ны выполнять все работы на объекте с качеством, необходимым для функционирования в нем слож- нейшего высокотехнологичного оборудования. ООО «Циклон» недавно отметило свое десятиле- тие. Выполнены работы более чем на 300 объектах строительства. Имеются перспективы для дальней- шего роста и развития.</p>
<p>Руководство компании гордится своим пер- соналом, благодаря которому после сдачи выпол- ненных работ на вверенных нам объектах, многие заказчики выражают благодарность и свое удов- летворение от сотрудничества с ООО «Циклон».</p>
<p>Мы ценим свою репутацию - мы делаем все точно и в срок!</p>
<p>Компания основана в 2002 году. Основным видом деятельности является строительство зданий и сооружений, инженерных
  систем и их эксплуатация. В частности приоритетными направлениями являются: создание сложных технических инженер
  систем таких как сла- боточные информационные системы, авто- матизированные системы управления, про-
  граммно-технические комплексы, системы общего инженерного обеспечения;проектирование, строительство, реконструкция и
  полное материальное оснащение высокотехно- логических зданий и сооружений таких как меди- цинские и
  научно-исследовательские центры и лаборатории, производства, сооружения энер- гетики и нефтепереработки,
  железнодорожные депо и станции метрополитена, сооружения дамб и портов;разработка и внедрение программных комплек- сов и их сопровождение;комплексная эксплуата- ция и техническое
  обслуживание инженерных соо- ружений, зданий и систем, с целью поддержания их постоянной работоспособности на особо
  ответственных объектах.</p>
<p>За время своего существования ком- пания выполняла работы более чем
  на трёхстах объектах строительства, в тридцати трех регионах нашей стра- ны, в том числе с партнерами из-за рубежа.
  Плановая стратегия развития, профессионализм сотрудников, кор- поративная ответственность обеспечили успешный рост
  компании, постоянное повышение ее конкурентоспособности. Полученный опыт максимально исполь- зуется в процессе
  подготовки и реали- зации работ при помощи, внедренной системы автоматизированного дело- производства собственной
  разработки, и деятельности собственного центра повышения квалификации. Структура организации общества позволяет вы-
  полнять работы на самых сложных объ- ектах строительства без привлечения субподрядных организаций, сохранять высокое
  качество работ и выдерживать заявленные сроки их исполнения.
  В 2013 году различные подразделения компании вели работы на 25 объектах строительства разной сложности па- раллельно,
  в 8 регионах. На данный мо- мент компания еще более увеличила свои штаты и материально техническую базу и способна на
  новые достижения.</p>
<p>
  ООО «Циклон» имеет богатый опыт участия в рабо- тах, финансируемых из средств не только ком- мерческого и
  Государственного бюджетов, но и с использованием зарубежных инвестиций.</p>
<p>Компания ООО «Циклон» является стабильной, современной и перспективной развивающейся организацией, с которой
  сотрудничают на протя- жении долгого времени, доверять самые сложные задачи, с уверенностью в их безупречном испол-
  нения в указанный срок.</p>