<%= facilities_submenu %>
<%= facility_title %>
<p>Государственное бюджетное учреждение здравоохранение «Московский областной научно-иссле- довательский институт
  акушерства и гинекологии». При реконструкции операционного блока данно- го учреждения были использованы стеновые
  панели из стекла, что не только придает операционным поистине космический вид, но и облегчает процесс гигиенической
  обработки при стерилизационных процессах.
  Г. Москва, ул. Покровка, д.22а</p>