<%= facilities_submenu %>
<%= facility_title %>
<p>Государственное бюджетное учреждение здравоохранения города Москвы «Научно-исследовательский институт скорой помощи им. Н.В. Склифосовского Департамента здравоохранения города Москвы» г. Москва, Большая Сухаревская площадь, д. 3. Реконструкция хирургического корпуса сопровождалась огромными проблемами, связанными с невозможностью приостановить деятельность всех отделений. Проектирование и строительство операционного блока на 8 операционных было выполнено менее чем за год.</p>