<%= facilities_submenu %>
<%= facility_title %>
<p>Санкт-Петербургский клинический комплекс Федерального государственного бюджетного учреждения «Национальный медико-хирургический Центр им. Н.И. Пирогова» Минздрава России Г. Санкт-Петербург, набережная реки Фонтанки, д. 154. Реконструкция в зданиях и сооружениях, находящихся под охраной государства как памятники архитектуры, всегда усложняет работу проектировщиков и строителей. Этот фак никак не отразился на процесс организации в здании этого учреждения операционного блока и центрального стерилизационного отделения, выполненные по всем законам и нормам, оборудованные техникой последнего поколения.</p>
<p>ГБУЗ «Санкт-Петербургский клинический научно-практический центр специализированных видов медицинской помощи
  (онкологический)» Г. Санкт-Петербург, поселок Песочный, ул. Ленинградская 68а лит. А</p>
<p>
  Строительство такого крупного медицинского учреждения, большое событие не только для нашего города. Несколько лет
  формировалась идея и концепция его создания, несколько очередей строительства – все это для того, что бы дать стране
  высокотехнологичный центр на 600 коек, оборудованный по последнему слову техники. Множество организаций участвовало
  в реализации этапов проектирования, строительства и оснащения этого учреждения. Сотрудники компании Циклон принимали
  участие во всех этапах. Работы по проектированию и организации «особо чистых зон», строительство операционного блока и
  реанимации хирургического корпуса, с его сложнейшими инженерными сетями, оснащение медицинским монтируемым
  оборудованием (хирургические лампы, медицинские газовые консоли, операционные столы, системы медицинской интеграции,
  ламинарные потоки, интероперационный томограф и др.) – это далеко не весь список выполняемых нашей организацией работ
  на этом объекте.</p>