<%= facilities_submenu %>
<%= facility_title %>
<p>18 декабря 2012 года состоялось торжественное открытие нового здания, в котором разместилась единственная
в России Клиника хирургии костно-суставного туберкулеза у детей и подростков (Политехническая ул., д. 32, лит. Б).</p>
<p>Открытие клиники такого высочайшего уровня — знаковое событие не только для города, но и для всей страны. Ведь сюда привозят детей из всех регионов, — подчеркнула вице-губернатор Санкт-Петербурга Ольга Александровна Казанская, перерезав символическую красную ленточку.
«Новый корпус поражает воображение. Настолько все продуманно, функционально и соответствует новейшим медицинским технологиям. Это клиника нового поколения. Операционные оборудованы по последнему слову техники, все управление — приборами, специальными дверьми, жалюзи, лампами и прочим — выведено на компьютер.» Яблонский П.К.</p>

