<%= facilities_submenu %>
<%= facility_title %>
<p>18 декабря 2012 года состо- ялось торжественное откры- тие нового здания, в котором разместилась единственная
в России Клиника хирургии костно-суставного туберкулеза у детей и подростков (Политех- ническая ул., д. 32, лит. Б).</p>
<p>Открытие клиники такого высочайшего уровня — зна- ковое событие не только для города, но и для всей страны. Ведь сюда привозят детей из всех регионов, — подчеркнула вице-губернатор Санкт-Петер- бурга Ольга Александровна Казанская, перерезав симво- лическую красную ленточку.
«Новый корпус поражает воображение. Настолько все продуманно, функциональ- но и соответствует новейшим медицинским технологиям. Это клиника нового поколения. Операционные оборудованы по последнему слову техники, все управление — прибора- ми, специальными дверьми, жалюзи, лампами и прочим — выведено на компьютер.» Яблонский П.К.</p>

