<%= facilities_submenu %>
<%= facility_title %>
<p>Комплекс защитных сооружений Санкт-Петер- бурга от наводнений, протянувшийся по аква- тории Финского залива от ж/д ст. Бронки до п. Горская, через остров Котлин, на котором рас- положен г. Кронштадт, является одной из самых крупных строительных площадок региона, протя- женностью 25,4 км. Строительство объекта ве- лось с 1979 по 2011 год. Работа на объекте столь высокой Федеральной значимости - это большая ответственность для компаний, осуществляющих его строительство. Наша организация участвова- ла в реализации данного проекта.</p>
<p>Перед компанией стояли непростые задачи, например, провести работы по устройству огнезащитного покрытия в транспортных отсе- ках тоннеля судопропускного сооружения С-1 с облицовкой стен тоннеля и рамп высокопрочны- ми огнеустойчивыми материалами последнего поколения; разработать и внедрить такие слож- нейшие инженерные сети как комплекс техниче- ских средств физической защиты, автоматизиро- ванные системы управления технологическими процессами, система контроля расхода элек- троэнергии и др.</p>
<p>Работы проводились на один- надцати отдельных сооружени- ях, в составе которых более чем пятьдесят зданий.
  Особенностью данного объекта является то, что после его сдачи в эксплуата- цию, нашей обязанностью стало поддержание
  безаварийной работы и техническое обслужи- вание его сложных инженерных систем.</p>
<p>Данную работу выполняет штат сотрудников обособленного подразделения департамента эксплуатации. В процессе на-
  блюдения за функционировани- ем сложнейших технологических систем на крупном объекте, по- лучен неоценимый опыт
  который, несомненно, поможет создавать более надежные инженерные решения.</p>
