// специфические размеры колонок
// под различные информационные блоки

$el: '.col';

#{$el}{
  $contacts-width: 200px;

  @include inline-block-list-item(0);
  vertical-align: top;
  white-space: normal;


  // шапка сайта
  &.m-header-logo {
    width: $sidebar-width;
  }

  &.m-header-menu {
    width: $container-width - 2*$gutter - $contacts-width - $sidebar-width;
  }

  &.m-header-contacts{
    width: $contacts-width;
  }

  &.m-header-contacts, &.m-header-menu {
    margin-top: 15px;
  }

  // ширина левого сайдбара в двуколоночной верстке
  &.m-sidebar {
    width: $sidebar-width;
    padding-right: 40px;
    margin-top: 93px;
  }

  // основной контент в двуколоночной верстке
  &.m-main-content {
    width: $container-width - $sidebar-width - 2*$gutter;
    padding-bottom: 25px;
    img{
      max-width: $container-width - $sidebar-width - 2*$gutter;;
    }
  }

  // колонка одной лицензии в списке лицензии
  &.m-license {
    width: 49.9%;
  }

}