// Styles for facility blocks
// @example
//   on /engineering page

.facility{

}

  .facility__image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 0 40px 0 -140px;
    float: left;
  }


  .facility__title{
    font-family: $font-family-medium;
    font-size: 18px;
  }

    .facility__title--no-link{
      @extend .facility__title;
      color: $color-blue;
    }


  .facility__description{

  }