$el: '.home-menu';

#{$el}{
  margin-left: -$gutter;
  position: relative;
  width: 1200px;
  min-height: 660px;
}

#{$el}__bg{
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  background: image-url('home-bg.jpg') no-repeat top center;
}