<%= facilities_submenu %>
<h2><%= current_category.title %></h2>

<p>Комплексная эксплуатация и техническое обслуживание инженерных сооружений, зданий и систем, с целью поддержания
  их постоянной работоспособности на особо ответственных объектах. Данный вид работ значительно отличает нас и нашу
  подготовку от компаний, профиль которых лишь строительство и проектирование. Мы знаем, что создаем сложнейшие
  инженерные системы, мы знаем как их тяжело обслуживать, мы не допускаем ошибок!</p>
<p>Эксплуатация и техническое обслуживание инженерных сооружений и систем объекта Комплекс защитных сооружений
  Санкт-Петербурга от наводнений, в интересах Минрегион России, позволили получить неоценимый опыт в области оценки
  жизнеспособности различных систем в суровых условиях непрерывной эксплуатации крупного особо опасного сооружения. Для
  этих целей было создано отдельное обособленное подразделение, в структуре данного департамента более 7 участков об-
  щей численностью более 120 человек.</p>

<%= render_categories_facilities %>