<%= facilities_submenu %>
<h2><%= current_category.title %></h2>

<p>Разработка, проектирование и создание инженерных систем любой сложности структурированные кабельные сети и
  телефония, система охранно-тревожной сигнализации, система охранно-пожарной сигнализации и оповещение людей о
  пожаре, система охранного видеонаблюдения, система контроля
  и управления доступом, электротехнических сетей, диспетчеризации, автоматизации вентиляции и инфраструктурных
  систем, автоматизированных систем управления технологиями производства, систем кондиционирования и вентиляции,
  ситема пожаротушения, система медицинского газоснабжения, локальная вычислительная система, система подготовки воды
  и воздуха, радиолокация, гидролокация</p>

<%= render_categories_facilities %>