<%= facilities_submenu %>
<h2><%= current_category.title %></h2>

<p>Разработка, проектирование и со- здание инженерных систем любой сложности структурированные кабельные сети и
  телефония, система ох- ранно-тревожной сигнализации, система охранно-пожарной сиг- нализации и оповещение людей о
  пожаре, система охранного виде- онаблюдения, система контроля
  и управления доступом, электро- технических сетей, диспетчериза- ции, автоматизации вентиляции и инфраструктурных
  систем, авто- матизированных систем управле- ния технологиями производства, систем кондиционирования и вен- тиляции,
  ситема пожаротушения, система медицинского газоснаб- жения, локальная вычислительная система, система подготовки воды
  и воздуха, радиолокация, гидроло- кация</p>

<%= render_categories_facilities %>