<%= facilities_submenu %>
<h2><%= current_category.title %></h2>

<p>проектирование, строительство, реконструкция и полное материальное оснащение высокотехнологических зданий и
  сооружений таких как медицинские и научно-исследовательские центры и лаборатории, производства, сооружения
  энергетики и нефтепереработки, железнодорожные депо и станции метрополитена, сооружения дамб и портов и т.п.</p>
<p>Большую часть работ компания Циклон осуществляет в секторе медицинского строительства и оснащения. Оказание
  комплекса услуг по разработке проектной и рабочей документации
  на строительство, реконструкцию и переоснащение учреждений здравоохранения и выполнение соответствующих
  строительных и монтажных работ. Отличительной чертой данного сегмента рынка является знание последних инноваций в
  области строительства и оснащения медицинских учреждений, что сокращает количество компаний способных оказывать данные
  услуги
  на российском рынке. Компания Циклон занимает достойное место среди строительных организаций, способных
  смоделировать сложнейшую структуру инженерных сооружений медицинских учреждений и воплотить их в жизнь. Наша
  организация также успела
  зарекомендовать себя с положительной стороны, выполняя работу не только на территории РФ, но и в Европе. Список на-
  ших партнеров входят такие крупные европейские интеграторы, как КБ ФАУ, ИМТЕХ, ТРАНСМЕД, ХАЙНЕМАН, ФАМЕД, АЙРКАД,
  ТРЕЙН, ХОСПИТАЛТЕХНИК и др.</p>

<%= render_categories_facilities %>