<%= facilities_submenu %>
<h2><%= current_category.title %></h2>

<p>Существует более чем достаточный список программ и оборудования для удов- летворения любых потребностей при
  строительстве, но постоянно развивающийся рынок требует новых и высокотехнологичных решений. Такой деятельностью на
  базе нашей организации занимаются такие подразделения, как Центр внедрения и под- держки программных комплексов и
  отдел научно-технических разработок. Нашими клиентами в этой области являются МЧС, МО РФ, ФМС России, органы РЖД,
  Суды, банки, МРСК, крупные производственные объединения. Имеются специальные ли- цензии и сертификаты, позволяющие
  создавать и внедрять программно-технические комплексы специального назначения, работающие со сведениями составляющие
  государственную тайну.</p>
<p>
  Центр внедрения и поддержки программных комплексов (ЦВППК), отдел научно-технических разработок (НТР) в течении
  последних десяти лет успешно развивает связанное с внедрением и об- служиванием сетевых инфраструктурных IT-решений.</p>

<p>Инженерный состав ЦВППК проводит работы любой сложности на серверных операционных системах Windows / Linux,
  пользовательских операционных системах семейства Windows / Linux, баз данных Oracle, Postgre SQL, SQL Server,
  Firebird. (создание, резервное копирование, восстановление
  и т.д.), CITRIX SERVER / CITRIX CLIENT, IBM (Lotus Domino / Lotus Notes Client), ИВК Юпитер 5.х – сборка инсталлятора,
  установка и настройка, 1С бухгалтерия, антивирусное программное обеспечение, а также работы любой сложности с активным
  сетевым оборудованием.
  С 2004 года по настоящий момент ЦВППК является Межрегиональным центром поддержки Государст- венной автоматизированной
  системы «Правосудие».</p>

<p>Государственная автоматизированная система Российской Федерации «Правосудие»(ГАС «Пра- восудие») — территориально
  распределенная автоматизированная информационная система, предназначенная для формирования единого информационного
  пространства судов общей юрис- дикции и системы Судебного департамента при Верховном Суде Российской Федерации. Она
  обеспечивает информационную и технологическую поддержку судопроизводства, обеспечивает информационную интеграцию
  судебной деятельности в России и предоставляет необходимую сво- бодную информацию о судебном делопроизводстве
  гражданам и организациям.</p>

<p>Мы осуществляли внедрение и продолжаем поддерживать работоспособность единого ин- формационного пространства,
  реализации конституционных принципов самостоятельности судеб- ной власти и независимости судей, обеспечения единства
  судебной системы Российской Федера- ции, повышения эффективности деятельности судов, реализации прав граждан и
  юридических лиц на судебно-правовую информацию.
  Инженерный штат нашей компании проводил работы, начиная с организации пилотной зоны ГАС «Правосудие» в
  Санкт-Петербурге, и по результатам ее успешной эксплуатации было доверено внедрение системы в Северо-Западном регионе
  РФ. В настоящий момент проводятся работы по ее текущей эксплуатации в 26 регионах РФ. Успешно вводятся в эксплуатацию
  системы аудио фикса- ции хода судебных заседаний и системы видеоконференцсвязи.</p>

<p>Сотрудники ЦВППК с 2008 года стояли у основ и проводили полный комплекс работ по модернизации, внедрению и текущей
  поддержке Государственной системы изготовления, оформления и контроля паспортно-визовых документов нового поколения
  (ГС ПВД НП) ФМС России в Северо-Западном регио- не РФ.</p>

<p>Система предназначена для автоматизированного сбора, хранения, обработки и передачи инфор- мации персонального учета
  граждан, а также иной служебной информации, необходимой для оформления, выдачи и контроля паспортно-визовых документов
  нового поколения. Базовым принци- пом организации системы является персональная идентификация владельца документа на
  основе биометрической информации, содержащейся в микросхеме документа. Фактически, идентифика- ция проводится путем
  автоматизированной сверки биометрических и паспортных данных проверяе- мого лица с хранящимися в микросхеме документа
  сведениями, заверенными электронно-цифро- вой подписью.</p>

<p>Создание системы было вызвано необходимостью повышения эффективности борьбы с угрозой тер- роризма и незаконной
  миграции, а также совершенствования паспортного и пограничного контроля. Целями создания системы являлось
  совершенствование национальной безопасности Российской Федерации и обеспечение на взаимной основе выезда российских
  граждан в зарубежные страны
  и въезда граждан иностранных государств в Российскую Федерацию с использованием паспортно- визовых документов нового
  поколения, содержащих в электронном виде персональные данные их владельцев.</p>
<p>Ключевым организационным принципом создания Системы является ее межведомственный харак- тер. Система объединяет
  ведомственные информационные ресурсы и технологии в единое целое, обеспечивая их взаимосвязанное функционирование.</p>

<%= render_categories_facilities %>