h2 Государственное  бюджетное учреждение здравоохранение «Московский областной научно-исследовательский  институт акушерства и гинекологии»

p
  | Инсталляция модуля медицинского климатизированного.
Монтаж системы вентиляции и кондиционирования. 
Монтаж устройств стерилизации воздуха (ламинарного потока с высоко эффективными HEPA – фильтрами). 
Монтаж медицинского оборудования. 
Монтаж и интеграция системы контроля и управления доступом. 
Монтаж системы диспетчеризации.
Монтаж системы  энергообеспечения «чистых помещений».