<%= facilities_submenu %>
<%= facility_title %>
<p>Строительство инженерных систем зданий при проведении работ по реконструкции депо «Американские мосты» для нужд ОАО «РЖД».</p>
<p>Проект является важной частью городской программы рекон- струкции объектов транспорт- ной инфраструктуры в целом
и реконструкции набережных Обводного канала в частности.</p>
<p>Компания приобрела огром- ный организационный опыт, благодаря координации вза- имодействия с множеством субподрядных организаций при рассредоточенном нецент- рализованном управлении на крупных строительных площад- ках (более 50 Га). Это дало воз- можность качественно плани- ровать состав, специализацию и квалификацию персонала.</p>
<p>Компания «Циклон» осуществ- ляла производство работ по оснащению вновь возводимых депо высокотехнологическими инженерными сетями, такими, как: охранно-тревожная и по- жарная сигнализация, система управления и контроля досту- пом, электротехнические сети высокого напряжения.</p>