<%= facilities_submenu %>
<%= facility_title %>
<p>
  ООО «КИНЕФ» - единственный нефтеперераба- тывающий завод на Северо-Западе России. На его огромной территории имеется
  огромное число сложнейших систем автоматизированного управления, диспетчеризации, охраны и переда- чи информации.
  Многие из этих систем вне- дряли и разрабатывали специалисты компании ООО «Циклон».
</p>
<p>История Киришского нефтеперерабатывающего завода, территориально расположенного на Се- веро-Западе страны, вблизи
  балтийских портов, ведет свой отсчет с 22 марта 1966 года, когда потребителям были отправлены первые тонны продукции.
  С тех пор предприятие снабжает нефтепродуктами весь регион. Отсюда стано- виться понятно насколько важны в ней системы
  автоматизации, контроля и охраны.
</p>
<p>В 2011 году в ООО «КИНЕФ» освоено около 26 млрд. рублей, что позволило закончить строи- тельство первой очереди
  комплекса глубокой пе- реработки нефти. Проведены пусконаладочные
  работы, комплексные испытания и ввод в эксплу- атацию следующих объектов первого пускового этапа комплекса глубокой
  переработки нефти:
</p>
<ul>
  <li>установки гидродепарафинизации Л-24-10/2000; - второго потока установки получения элементар- ной серы;</li>
  <li>ПГВ-2 (подстанции глубокого ввода), от которой осуществляется энергоснабжение объектов ком- плекса глубокой
переработки нефти и действую- щей части завода.</li>
</ul>
<p>
  Кроме того, осуществлен пуск установки экстрактивной дистилляции.
  На многих из этих сооружениях были внедрены совершенно новые алгоритмы контроля и управ- ления технологическими
  процессами. Все это результат многолетней работы специалистов разных организаций и профессий. Мы рады, что были в их
  числе!
</p>
<img src="/system/facilities/neftezavod_v_kirishi.jpg" />