<%= facilities_submenu %>
<%= facility_title %>
<p>Разработка и внедрение высокотехнологичных слаботочных сетей и автоматизация учета и управления энергией на заводе
  «ТЕКС» для нужд ООО «Тиккурила» в Санкт-Петербурге.
  На крупнейшем производственном предприятии, заводе лакокрасочной продукции «ТЕКС» (Санкт-Петербург, Уткин пр., 15
  Н), в 2009-2010 гг. происходил процесс ввода в эксплуатацию нового производственного здания площадью 6800 кв. м.
  Необходимо было реализовать сложнейшую систему управления, контроля и диспетчеризации промышленногооборудования
  силами компании «Циклон».</p>
<p>Вновь инсталлированная система оказалась настолько эффективной, что заказчик решил внедрить ее на всем производстве с
  возможностью дальнейшего расширения системы. После выполнения поставленной задачи специалистами нашей компании
  была проделана работа по реконструкции административно-бытового корпуса предприятия и модернизации практически всех
  инженерных систем завода. На данный момент все внедренные сети и системы прекрасно работают, выполняя возложенные на
  них функции, что очень важно для бесперебойной работы основного технологического цикла производства.</p>