= partial "shared/breadcrumbs"
h2 Государственное бюджетное учреждение здравоохранения города Москвы «Научно-исследовательский институт скорой помощи им. Н.В. Склифосовского Департамента здравоохранения города Москвы»

p
  | Проектирование и инсталляция медицинского климатизированного модуля.