h2 Федеральное Государственное бюджетное учреждение «Федеральный центр сердечно сосудистой хирургии» Министерства здравоохранения Российской Федерации (г. Пенза)

p
  | Проектирование и инсталляция модуля медицинского климатизированного. 
Монтаж внутренних сетей системы медицинского газоснабжения.
Монтаж системы вентиляции и кондиционирования. 
Монтаж устройств стерилизации воздуха (ламинарного потока с высоко эффективными HEPA – фильтрами ). 
Автоматизация и диспетчеризация систем вентиляции и кондиционирования.
Монтаж системы  энергообеспечения «чистых помещений». 
Монтаж и интеграция системы контроля и управления доступом.