= partial "shared/breadcrumbs"
h2 «Многопрофильный медицинский центр с жилыми апартаментами для сотрудников и пациентов по Уральскому проспекту в Тагилстроевском районе г. Нижний Тагил»

p
  | Инсталляция модуля медицинского климатизированного.
    Монтаж медицинского оборудования.
    Монтаж наружных сетей кислородоснабжения и газораспределительного пункта.
    Монтаж внутренних сетей системы медицинского газоснабжения.
    Монтаж устройств стерилизации воздуха (ламинарного потока с высоко эффективными HEPA – фильтрами).
    Монтаж системы  энергообеспечения «чистых помещений».